.App {
  display: flex;
  justify-content: center;
}

#container {
  min-width: 30em;
  margin: 15em;
  padding: 1em;
  border-radius: 5px;
  background-color: #ffff;
}

#question-number {
  padding-bottom: 5px;
  font-weight: bold;
  color: #429E9D;
  border-bottom: 1px solid #C0C0C0;
  margin-bottom: 5px;
}

#question {
  margin: 0px 0px 20px 0px;
  font-size: 25px;
  font-weight: bold;
}

.answer {  
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  background-color: #C0C0C0;
}

.answer-true {
  background-color: #008000;
  color: #ffff;
}

.answer-false {
  background-color: #FF0000;
  color: #ffff;
}

.button {
  width: fit-content;
  padding: 5px 20px;
  border-radius: 5px;
  color: #ffff;
  cursor: pointer;
}

.button-active {
  background-color: #429E9D;
}

.button-disabled {
  background-color: #C0C0C0;
}

#checbox-container{
  display: flex;
}

.checkbox {
  padding: 15px;
  margin-right: 5px;
  border-radius: 50%;
  position: relative;
  background-color: #C0C0C0;
}

.checkbox-true {
  background-color: #008000;
}

.checkbox-true::after {
  position: absolute;
  top: 10%;
  left: 30%;
  content: '\2713';
  display: inline-block;
  color: #ffff;
}

.checkbox-false {
  background-color: #FF0000;
}

.checkbox-false::after {
  position: absolute;
  top: 10%;
  left: 35%;
  content: 'X';
  color: #ffff;
}